<div class="canopus-labs-banner-card">
  {{canopus-labs-banner-card-icon}}
  <div class="canopus-labs-banner-card-title">
    <h2>{{args.title}}</h2>
  </div>
  <div class="canopus-labs-banner-card-description">
    <span>{{args.description}}</span>
  </div>
  <div class="canopus-labs-banner-card-link">
    <a href={{args.url}}>{{args.url_title}}</a>
  </div>
</div>
